.breadcrumb {
    @apply flex items-center overflow-x-auto;

    /* Define breadcrumb divider content in a variable to make it dynamically changeable from HTML or custom CSS */
    --breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

    li.breadcrumb-item {
        a {
            @apply flex items-center text-sm font-bold text-gray-700 hover:text-theme-darked-primary transition duration-200;
            * {
                @apply mr-1;
            }
        }
        &:not(.active) a:after {
            @apply mx-2;
            content: var(--breadcrumb-divider);
        }

        &.active a {
            @apply text-red-500;
        }
    }
    
}

body[dir=rtl] {
    .breadcrumb {
        --breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' transform='rotate(180)' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
        li.breadcrumb-item {
            a {
                * {
                    @apply mr-0 ml-1;
                }
            }
        }
    }    
}