.nav.nav-tabs {
    @apply flex flex-nowrap pb-2 md:pb-0 md:flex-wrap overflow-x-auto text-sm font-medium text-center text-gray-500 border-b border-gray-200;
    
    &:not([class*="space-x-"]) {
        @apply space-x-1;
    }

    .nav-item {
        .nav-link {
            @apply inline-block items-center p-4 rounded-t-lg hover:text-gray-600 transition duration-200;

            &:not(.underlined) {
                @apply hover:bg-gray-50 ;

                &.active {
                    @apply bg-gray-100;
                }
            }

            &.underlined {
                @apply border-b-2 border-transparent hover:border-gray-300;
                &.active {
                    @apply border-b-theme-primary;
                }
            }

            &.active {
                @apply text-theme-primary;
            }
            &.disabled, &:disabled {
                @apply text-gray-400 cursor-not-allowed;
            }
        }
    }
}

.nav.nav-pills {
    @apply flex flex-nowrap pb-2 md:pb-0 md:flex-wrap overflow-x-auto text-sm font-medium text-center text-gray-500 dark:text-gray-400;

    &:not(.nav-fill) {
        &:not([class*="space-x-"]) {
            @apply space-x-2;
        }
        
        .nav-link {
            @apply rounded-lg;
        }
    }

    &.nav-fill {
        @apply flex-nowrap overflow-x-auto;
        .nav-item, .nav-link {
            @apply w-full;
        }
        .nav-item:first-child .nav-link {
            @apply rounded-l-lg;
        }
        .nav-item:last-child .nav-link {
            @apply rounded-r-lg;
        }
        .nav-link {
            @apply rounded-none;

            &:not([class*="bg-"]) {
                @apply bg-gray-50;
            }
        }
        
    }

    .nav-item {
        .nav-link {
            @apply inline-block py-3 px-4 hover:text-gray-900 hover:bg-gray-100 transition duration-200;
            
            &.active {
                @apply inline-block py-3 px-4 text-white bg-blue-600;
            }
            &.disabled, &:disabled {
                @apply text-gray-400 cursor-not-allowed;
            }
        }
    }
}

/* RTL Support */
body[dir=rtl] {
    .nav.nav-tabs {
        @apply space-x-reverse;
    }

    .nav.nav-pills {
        &:not(.nav-fill) {
            @apply space-x-reverse;
        }

        &.nav-fill {
            .nav-item:first-child .nav-link {
                @apply rounded-l-none rounded-r-lg;
            }
            .nav-item:last-child .nav-link {
                @apply rounded-r-none rounded-l-lg;
            }
        }
    }
}