@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IRANSansWeb";
    src: url("../font/IRANSansWeb.woff") format("woff");
    font-weight: normal;
  }
  @font-face {
    font-family: "IRANSansWeb";
    src: url("../font/IRANSansWeb-Bold.woff") format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: "IRANSansWeb";
    src: url("../font/IRANSansWeb-Black.woff") format("woff");
    font-weight: 900;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  h1 {
    @apply text-[2rem] sm:text-[2.3rem] md:text-[2.8rem] lg:text-[3.2rem] xl:text-5xl lg:!leading-[4rem];
  }
  h2 {
    @apply text-[1.9rem] sm:text-[2.3rem] lg:text-[2.7rem] xl:text-5xl lg:!leading-[3.9rem];
  }
  h3 {
    @apply text-[1.7rem] sm:text-[2rem] lg:text-[2.4rem] xl:text-4xl;
  }
  h4 {
    @apply text-[1.3rem] sm:text-[1.6rem] lg:text-[1.6rem] xl:text-3xl;
  }
  h5 {
    @apply text-[1.1rem] sm:text-[1.3rem] lg:text-[1.4rem] xl:text-2xl;
  }
  h6 {
    @apply text-[1rem] sm:text-[1.1rem] xl:text-xl;
  }

  body {
    direction: ltr;
    font-family: "Lato";
  }
}
.sidebar * {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  height: 0.4em;
  width: 0.4em;
}
::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}
.sidebar-closed span {
  @apply opacity-0;
}
.sidebar-closed h1 {
  @apply opacity-0 delay-0 duration-0;
}
.sidebar-closed b {
  @apply opacity-0;
}
