<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#5c68ff" />
        <title>ZedAdmin - Admin Panel template with TailwindCSS</title>
        <link rel="stylesheet" href="../dist/css/style.css" />
    </head>
    <body>

        <nav class='mobile-navbar'>
            <button id='mobileMenuBtn' class='text-2xl px-4'>
                <ion-icon class='mt-2' name="menu-outline"></ion-icon>
            </button>
            
            <div>
                <div class="relative inline-block" x-data='{open: false}'>
                    <button @click='open = !open' :class="open ? 'bg-gray-100' : '' " x-transition class='text-xl rounded px-2 hover:bg-gray-100 transition duration-200'>
                        <ion-icon class='mt-2' name="notifications-outline"></ion-icon>
                    </button>
                    <div x-show="open" @click.outside="open = false" class="dropdown-content -right-14 sm:-right-8 md:right-1 text-center" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-y-0 transform" x-transition:enter-end="opacity-100 scale-y-100 transform" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" style="display: none;">
                        
                        <div class='p-3 text-sm text-gray-500'>
                            <span class="text-theme-primary">2</span> Unread notification
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-theme-primary rounded-full mr-3">
                                <ion-icon class='mt-1 text-theme-primary' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">its just an notificationt</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-theme-primary rounded-full mr-3">
                                <ion-icon class='mt-1 text-theme-primary' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">This notification title is longer than expection</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-gray-100 rounded-full mr-3">
                                <ion-icon class='mt-1' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">its just an notificationt</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="relative inline-block"  x-data='{open: false}'>
                    <button @click='open = !open' :class="open ? 'bg-gray-100' : '' "  class='text-xl rounded px-2 hover:bg-gray-100 transition duration-200'>
                        <ion-icon class='mt-2' name="person-outline"></ion-icon>
                    </button>
                    <div x-show="open" @click.outside="open = false" class="dropdown-content -right-6 sm:-right-8 md:right-1 text-left" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-y-0 transform" x-transition:enter-end="opacity-100 scale-y-100 transform" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" style="display: none;">
                        
                        <div class='p-3 text-sm text-gray-500 border-b border-gray-100'>
                            Signed in as
                            <span class='block text-theme-darked-primary'>Mehrab Hojjati Pour</span>
                        </div>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="compass-outline"></ion-icon>
                            Visit site
                        </a>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="wallet-outline"></ion-icon>
                            Manage wallet
                        </a>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="create-outline"></ion-icon>
                            Edit profile
                        </a>

                        <a class='flex items-center w-full p-3 text-red-500 hover:bg-red-50 transition duration-200 border-t border-gray-100' href="#">
                            <ion-icon class='mr-2' name="log-out-outline"></ion-icon>
                            Logout
                        </a>

                    </div>
                </div>
            </div>
        </nav>

        <aside class="sidebar hidden lg:block left-0">
            <header>
                <h1>ZedAdmin<span>.</span></h1>
            </header>
            <nav>
                <ul>
                    <li class="badge">Main Menu</li>
                    <li>
                        <a href="../index.html">
                            <ion-icon name="planet"></ion-icon>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="../index-rtl.html">
                            <ion-icon class="-rotate-45" name="planet"></ion-icon>
                            RTL Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="settings"></ion-icon>
                            Manage options
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="notifications"></ion-icon>
                            Notifications
                            <span class="numbers-badge">7</span>
                        </a>
                    </li>

                    <li class="badge">Pages</li>

                    <ul class="dropdown-container" x-data="{ isOpen: false }">
                        <li @click="isOpen = !isOpen" :class="isOpen ? 'active' : ''">
                            <a href="javascript:void(0)" :class="isOpen ? 'rounded-t-md' : ''">
                                <span>
                                    <ion-icon name="person-add"></ion-icon>
                                    Authentications
                                </span>

                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </a>
                        </li>
                        <div x-show="isOpen" class="dropdown-items">
                            <a href="../pages/login.html">
                                <ion-icon name="return-down-forward"></ion-icon>           
                                Login
                            </a>
                            <a href="../pages/register.html">
                                <ion-icon name="return-down-forward"></ion-icon>           
                                Register
                            </a>
                        </div>
                    </ul>
                    <li>
                        <a href="../pages/blank.html">
                            <ion-icon name="square"></ion-icon>
                            Blank
                        </a>
                    </li>

                    <li class="badge">Components</li>

                    <li class="active">
                        <a href="./alert.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Alerts
                        </a>
                    </li>
                    <li>
                        <a href="./badge.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Badges
                        </a>
                    </li>
                    <li>
                        <a href="./breadcrumb.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Breadcrumb
                        </a>
                    </li>
                    <li>
                        <a href="./button.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Buttons
                        </a>
                    </li>
                    <li>
                        <a href="./input.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Inputs
                        </a>
                    </li>
                    <li>
                        <a href="./progress.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Progress
                        </a>
                    </li>
                    <li>
                        <a href="./tabs.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Tabs
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </aside>

        <main>
            <h4 class="font-bold">Alert components</h4>
            
            <section class="mt-2">
                <div class='block border-b border-gray-200 pb-3 mb-3'>
                    Made with Tailwind CSS, they are elements that provide contextual feedback messages for user actions. The notification is a simple colored block meant to draw the attention to the user about something.
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-3 border-b border-gray-200 pb-3">
                    <div>
                        <div class="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div>
                        <div class="badge badge-theme inline-block mb-1">
                            use ".alert"
                        </div>
                        <pre class='whitespace-normal'> <code class="language-html rounded"> &lt;div class=&quot;alert&quot;&gt; ... &lt;/div&gt; </code> </pre>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-3 border-b border-gray-200 pb-3">
                    <div>
                        <div class="alert alert-success">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div>
                        <div class="badge badge-theme inline-block mb-1">
                            use ".alert-success" or ".alert-green"
                        </div>
                        <pre class='whitespace-normal'> <code class="language-html rounded"> &lt;div class=&quot;alert alert-success&quot;&gt; ... &lt;/div&gt; </code> </pre>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-3 border-b border-gray-200 pb-3">
                    <div>
                        <div class="alert alert-info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div>
                        <div class="badge badge-theme inline-block mb-1">
                            use ".alert-info" or ".alert-blue"
                        </div>
                        <pre class='whitespace-normal'> <code class="language-html rounded"> &lt;div class=&quot;alert alert-info&quot;&gt; ... &lt;/div&gt; </code> </pre>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-3 border-b border-gray-200 pb-3">
                    <div>
                        <div class="alert alert-primary">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div>
                        <div class="badge badge-theme inline-block mb-1">
                            use ".alert-primary" or ".alert-theme"
                        </div>
                        <pre class='whitespace-normal'> <code class="language-html rounded"> &lt;div class=&quot;alert alert-primary&quot;&gt; ... &lt;/div&gt; </code> </pre>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-3 border-b border-gray-200 pb-3">
                    <div>
                        <div class="alert alert-warning">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div>
                        <div class="badge badge-theme inline-block mb-1">
                            use ".alert-warning" or ".alert-yellow"
                        </div>
                        <pre class='whitespace-normal'> <code class="language-html rounded"> &lt;div class=&quot;alert alert-warning&quot;&gt; ... &lt;/div&gt; </code> </pre>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-3 border-b border-gray-200 pb-3">
                    <div>
                        <div class="alert alert-danger">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div>
                        <div class="badge badge-theme inline-block mb-1">
                            use ".alert-danger" or ".alert-red"
                        </div>
                        <pre class='whitespace-normal'> <code class="language-html rounded"> &lt;div class=&quot;alert alert-danger&quot;&gt; ... &lt;/div&gt; </code> </pre>
                    </div>
                </div>

            </section>

        </main>

        <!-- Icons pack -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <!-- HighlightJS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        <script src='../dist/js/alpine@3.min.js'></script>
        <script src='../dist/js/dashboard.js'></script>

    </body>
</html>
