<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#5c68ff" />
        <title>ZedAdmin - Admin Panel template with TailwindCSS</title>
        <link rel="stylesheet" href="../dist/css/style.css" />
    </head>
    <body>

        <nav class='mobile-navbar'>
            <button id='mobileMenuBtn' class='text-2xl px-4'>
                <ion-icon class='mt-2' name="menu-outline"></ion-icon>
            </button>
            
            <div>
                <div class="relative inline-block" x-data='{open: false}'>
                    <button @click='open = !open' :class="open ? 'bg-gray-100' : '' " x-transition class='text-xl rounded px-2 hover:bg-gray-100 transition duration-200'>
                        <ion-icon class='mt-2' name="notifications-outline"></ion-icon>
                    </button>
                    <div x-show="open" @click.outside="open = false" class="dropdown-content text-center" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-y-0 transform" x-transition:enter-end="opacity-100 scale-y-100 transform" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" style="display: none;">
                        
                        <div class='p-3 text-sm text-gray-500'>
                            <span class="text-theme-primary">2</span> Unread notification
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-theme-primary rounded-full mr-3">
                                <ion-icon class='mt-1 text-theme-primary' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">its just an notificationt</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-theme-primary rounded-full mr-3">
                                <ion-icon class='mt-1 text-theme-primary' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">This notification title is longer than expection</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-gray-100 rounded-full mr-3">
                                <ion-icon class='mt-1' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">its just an notificationt</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="relative inline-block"  x-data='{open: false}'>
                    <button @click='open = !open' :class="open ? 'bg-gray-100' : '' "  class='text-xl rounded px-2 hover:bg-gray-100 transition duration-200'>
                        <ion-icon class='mt-2' name="person-outline"></ion-icon>
                    </button>
                    <div x-show="open" @click.outside="open = false" class="dropdown-content text-left" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-y-0 transform" x-transition:enter-end="opacity-100 scale-y-100 transform" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" style="display: none;">
                        
                        <div class='p-3 text-sm text-gray-500 border-b border-gray-100'>
                            Signed in as
                            <span class='block text-theme-darked-primary'>Mehrab Hojjati Pour</span>
                        </div>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="compass-outline"></ion-icon>
                            Visit site
                        </a>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="wallet-outline"></ion-icon>
                            Manage wallet
                        </a>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="create-outline"></ion-icon>
                            Edit profile
                        </a>

                        <a class='flex items-center w-full p-3 text-red-500 hover:bg-red-50 transition duration-200 border-t border-gray-100' href="#">
                            <ion-icon class='mr-2' name="log-out-outline"></ion-icon>
                            Logout
                        </a>

                    </div>
                </div>
            </div>
        </nav>

        <aside class="sidebar hidden lg:block left-0">
            <header>
                <h1>ZedAdmin<span>.</span></h1>
            </header>
            <nav>
                <ul>
                    <li class="badge">Main Menu</li>
                    <li>
                        <a href="../index.html">
                            <ion-icon name="planet"></ion-icon>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="../index-rtl.html">
                            <ion-icon class="-rotate-45" name="planet"></ion-icon>
                            RTL Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="settings"></ion-icon>
                            Manage options
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="notifications"></ion-icon>
                            Notifications
                            <span class="numbers-badge">7</span>
                        </a>
                    </li>

                    <li class="badge">Pages</li>

                    <ul class="dropdown-container" x-data="{ isOpen: false }">
                        <li @click="isOpen = !isOpen" :class="isOpen ? 'active' : ''">
                            <a href="javascript:void(0)" :class="isOpen ? 'rounded-t-md' : ''">
                                <span>
                                    <ion-icon name="person-add"></ion-icon>
                                    Authentications
                                </span>

                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </a>
                        </li>
                        <div x-show="isOpen" class="dropdown-items">
                            <a href="../pages/login.html">
                                <ion-icon name="return-down-forward"></ion-icon>           
                                Login
                            </a>
                            <a href="../pages/register.html">
                                <ion-icon name="return-down-forward"></ion-icon>           
                                Register
                            </a>
                        </div>
                    </ul>
                    <li>
                        <a href="../pages/blank.html">
                            <ion-icon name="square"></ion-icon>
                            Blank
                        </a>
                    </li>

                    <li class="badge">Components</li>

                    <li>
                        <a href="./alert.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Alerts
                        </a>
                    </li>
                    <li>
                        <a href="./badge.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Badges
                        </a>
                    </li>
                    <li>
                        <a href="./breadcrumb.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Breadcrumb
                        </a>
                    </li>
                    <li class="active">
                        <a href="./button.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Buttons
                        </a>
                    </li>
                    <li>
                        <a href="./input.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Inputs
                        </a>
                    </li>
                    <li>
                        <a href="./progress.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Progress
                        </a>
                    </li>
                    <li>
                        <a href="./tabs.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Tabs
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </aside>

        <main>
            <h4 class="font-bold">Button components</h4>
            <p class='block border-b border-gray-200 pb-3 mt-1 mb-3'>
                In ZedAdmin, we created all the useful button classes you have already been familiar with in bootstrap!
            </p>
            
            <section class="mt-2">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-1">
                    <div class='card'>
                        <div class="card-header card-block pb-2 mb-3 border-b border-gray-100">
                            <h5 class='font-bold'>Default & simple examples</h5>
                            <small>
                                The <code class="code">.btn</code> classes are designed to be used with the <code class="code">&lt;button&gt;</code> element. However, you can also use these classes on <code class="code">&lt;a&gt;</code> or <code class="code">&lt;input&gt;</code> elements (though some browsers may apply a slightly different rendering).
                            </small>
                        </div>
                        <div class="card-body grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-2">
                            <button class="btn">Default</button>
                            <button class="btn btn-primary">Primary | Theme</button>
                            <button class="btn btn-success">Success | Green</button>
                            <button class="btn btn-secondary">Secondary | Gray</button>
                            <button class="btn btn-danger">Danger | Red</button>
                            <button class="btn btn-warning">Warning | Yellow</button>
                            <button class="btn btn-info">Info | Blue</button>
                            <button class="btn btn-light">Light</button>
                            <button class="btn btn-dark">Dark</button>
                            <button class="btn btn-link">Link</button>
                        </div>
                    </div>
                    <div>
                        <pre class=''> <code class="language-html rounded">&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot;&gt;Primary | Theme&lt;/button&gt;
&lt;button class=&quot;btn btn-success&quot;&gt;Success | Green&lt;/button&gt;
&lt;button class=&quot;btn btn-secondary&quot;&gt;Secondary | Gray&lt;/button&gt;
&lt;button class=&quot;btn btn-danger&quot;&gt;Danger | Red&lt;/button&gt;
&lt;button class=&quot;btn btn-warning&quot;&gt;Warning | Yellow&lt;/button&gt;
&lt;button class=&quot;btn btn-info&quot;&gt;Info | Blue&lt;/button&gt;
&lt;button class=&quot;btn btn-light&quot;&gt;Light&lt;/button&gt;
&lt;button class=&quot;btn btn-dark&quot;&gt;Dark&lt;/button&gt;
&lt;button class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;</code> </pre>
                    </div>
                </div>
            </section>

            <section class="mt-4">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div class='card'>
                        <div class="card-header card-block pb-2 mb-3 border-b border-gray-100">
                            <h5 class='font-bold'>Outline buttons</h5>
                            <small>
                                In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code class="code">.btn-outline-*</code> ones to remove all background images and colors on any button.
                            </small>
                        </div>
                        <div class="card-body grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
                            <button class="btn btn-outline-primary">Primary | Theme</button>
                            <button class="btn btn-outline-success">Success | Green</button>
                            <button class="btn btn-outline-danger">Danger | Red</button>
                            <button class="btn btn-outline-warning">Warning | Yellow</button>
                            <button class="btn btn-outline-info">Info | Blue</button>
                            <button class="btn btn-outline-light">Light</button>
                            <button class="btn btn-outline-secondary">Secondary | Gray</button>
                            <button class="btn btn-outline-dark">Dark</button>
                        </div>
                    </div>
                    <div>
                        <pre class=''> <code class="language-html rounded"> &lt;button class=&quot;btn btn-outline-primary&quot;&gt;Primary | Theme&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-success&quot;&gt;Success | Green&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-danger&quot;&gt;Danger | Red&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-warning&quot;&gt;Warning | Yellow&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-info&quot;&gt;Info | Blue&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-light&quot;&gt;Light&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-secondary&quot;&gt;Secondary | Gray&lt;/button&gt;
&lt;button class=&quot;btn btn-outline-dark&quot;&gt;Dark&lt;/button&gt; </code> </pre>
                    </div>
                </div>
            </section>

            <section>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mt-5">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Button sizes</h5>
                            <small class='mt-2 text-gray-500'>
                                Fancy larger or smaller buttons? Add <code class="code">.btn-lg</code> or <code class="code">.btn-sm</code> for additional sizes.
                            </small>
                        </div>
                        <div class="card-body grid grid-cols-1 lg:grid-cols-3 gap-1 items-center">
                            <div>
                                <button class="btn btn-primary w-full btn-sm">Small button</button>
                            </div>
                            <div>
                                <button class="btn btn-primary w-full">Normal button</button>
                            </div>
                            <div>
                                <button class="btn btn-primary w-full btn-lg">Large button</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre class=''> <code class="language-html rounded">&lt;button class=&quot;btn btn-primary btn-sm&quot;&gt;Small button&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot;&gt;Normal button&lt;/button&gt;
&lt;button class=&quot;btn btn-primary btn-lg&quot;&gt;Large button&lt;/button&gt;</code> </pre>
                    </div>
                </div>
            </section>

            <section>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mt-5">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Disabled state</h5>
                            <small class='mt-2 text-gray-500'>
                                Make buttons look inactive by adding the <code class="code">disabled</code> boolean attribute to any <button> element.
                            </small>
                        </div>
                        <div class="card-body grid grid-cols-2 gap-2">
                            <button class="btn btn-red" disabled>Disabled</button>
                            <button class="btn btn-green" disabled>Disabled</button>
                        </div>
                    </div>
                    <div>
                        <pre class=''> <code class="language-html rounded">&lt;button class=&quot;btn btn-red&quot; disabled&gt;Disabled&lt;/button&gt;
&lt;button class=&quot;btn btn-green&quot; disabled&gt;Disabled&lt;/button&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <!-- Checkbox and radios -->

            <h4 class="font-bold border-t border-gray-200 mt-6 pt-5">Button group</h4>
            <p class='block mt-1 mb-3'>
                Group a series of buttons together on a single line with the button group!
            </p>

            <section>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Basic example</h5>
                            <small class='mt-2 text-gray-500'>
                                Wrap a series of buttons with <code class="code">.btn</code> in <code class="code">.btn-group</code>.
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre class=''> <code class="language-html rounded">&lt;div class=&quot;btn-group&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Left&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Middle&lt;/button&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Right&lt;/button&gt;
&lt;/div&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <section>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Button toolbar</h5>
                            <small class='mt-2 text-gray-500'>
                                Combine sets of button groups into button toolbars for more complex components. Use utility classes as needed to space out groups, buttons, and more.
                            </small>
                        </div>
                        <div class="card-body space-y-3">
                            <div class="btn-toolbar">
                                <div class="btn-group mr-1">
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">2</button>
                                    <button type="button" class="btn btn-secondary">3</button>
                                    <button type="button" class="btn btn-secondary">4</button>
                                </div>
                                <div class="btn-group mr-1">
                                    <button type="button" class="btn btn-secondary">5</button>
                                    <button type="button" class="btn btn-secondary">6</button>
                                    <button type="button" class="btn btn-secondary">7</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary">8</button>
                                </div>
                            </div>

                            <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">2</button>
                                    <button type="button" class="btn btn-secondary">3</button>
                                    <button type="button" class="btn btn-secondary">4</button>
                                </div>

                                <input type="text" class="form-control" placeholder="Input with btn toolbar example">
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre class=''> <code class="language-html rounded h-48">&lt;div class=&quot;btn-toolbar&quot;&gt;
    &lt;div class=&quot;btn-group mr-1&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;1&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;2&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;3&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;4&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-group mr-1&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;5&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;6&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;7&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-group&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;8&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!--  --&gt;
&lt;div class=&quot;btn-toolbar&quot;&gt;
    &lt;div class=&quot;btn-group mr-2&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;1&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;2&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;3&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;4&lt;/button&gt;
    &lt;/div&gt;

    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Input with btn toolbar example&quot;&gt;
&lt;/div&gt;</code> </pre>
                    </div>
                </div>

            </section>

        </main>

        <!-- Icons pack -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        
        <!-- HighlightJS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        <script src='../dist/js/alpine@3.min.js'></script>
        <script src='../dist/js/dashboard.js'></script>
    </body>
</html>
