<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#5c68ff" />
        <title>ZedAdmin - tabs Component for TailwindCSS</title>
        <link rel="stylesheet" href="../dist/css/style.css" />
    </head>
    <body>

        <nav class='mobile-navbar'>
            <button id='mobileMenuBtn' class='text-2xl px-4'>
                <ion-icon class='mt-2' name="menu-outline"></ion-icon>
            </button>
            
            <div>
                <div class="relative inline-block" x-data='{open: false}'>
                    <button @click='open = !open' :class="open ? 'bg-gray-100' : '' " x-transition class='text-xl rounded px-2 hover:bg-gray-100 transition duration-200'>
                        <ion-icon class='mt-2' name="notifications-outline"></ion-icon>
                    </button>
                    <div x-show="open" @click.outside="open = false" class="dropdown-content text-center" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-y-0 transform" x-transition:enter-end="opacity-100 scale-y-100 transform" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" style="display: none;">
                        
                        <div class='p-3 text-sm text-gray-500'>
                            <span class="text-theme-primary">2</span> Unread notification
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-theme-primary rounded-full mr-3">
                                <ion-icon class='mt-1 text-theme-primary' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">its just an notificationt</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-theme-primary rounded-full mr-3">
                                <ion-icon class='mt-1 text-theme-primary' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">This notification title is longer than expection</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                        <div class="card flex-card hover:bg-theme-secondary items-center text-left">
                            <span class="border py-1 px-2 border-gray-100 rounded-full mr-3">
                                <ion-icon class='mt-1' name="dice-outline"></ion-icon>
                            </span>
                            <div>
                                <div class="card-header">its just an notificationt</div>
                                <small class="text-gray-500">5 Minutes ago</small>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="relative inline-block"  x-data='{open: false}'>
                    <button @click='open = !open' :class="open ? 'bg-gray-100' : '' "  class='text-xl rounded px-2 hover:bg-gray-100 transition duration-200'>
                        <ion-icon class='mt-2' name="person-outline"></ion-icon>
                    </button>
                    <div x-show="open" @click.outside="open = false" class="dropdown-content text-left" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-y-0 transform" x-transition:enter-end="opacity-100 scale-y-100 transform" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" style="display: none;">
                        
                        <div class='p-3 text-sm text-gray-500 border-b border-gray-100'>
                            Signed in as
                            <span class='block text-theme-darked-primary'>Mehrab Hojjati Pour</span>
                        </div>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="compass-outline"></ion-icon>
                            Visit site
                        </a>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="wallet-outline"></ion-icon>
                            Manage wallet
                        </a>

                        <a class='flex items-center w-full p-3 hover:bg-theme-secondary transition duration-200' href="#">
                            <ion-icon class='mr-2' name="create-outline"></ion-icon>
                            Edit profile
                        </a>

                        <a class='flex items-center w-full p-3 text-red-500 hover:bg-red-50 transition duration-200 border-t border-gray-100' href="#">
                            <ion-icon class='mr-2' name="log-out-outline"></ion-icon>
                            Logout
                        </a>

                    </div>
                </div>
            </div>
        </nav>

        <aside class="sidebar hidden lg:block left-0">
            <header>
                <h1>ZedAdmin<span>.</span></h1>
            </header>
            <nav>
                <ul>
                    <li class="badge">Main Menu</li>
                    <li>
                        <a href="../index.html">
                            <ion-icon name="planet"></ion-icon>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="../index-rtl.html">
                            <ion-icon class="-rotate-45" name="planet"></ion-icon>
                            RTL Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="settings"></ion-icon>
                            Manage options
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="notifications"></ion-icon>
                            Notifications
                            <span class="numbers-badge">7</span>
                        </a>
                    </li>

                    <li class="badge">Pages</li>

                    <ul class="dropdown-container" x-data="{ isOpen: false }">
                        <li @click="isOpen = !isOpen" :class="isOpen ? 'active' : ''">
                            <a href="javascript:void(0)" :class="isOpen ? 'rounded-t-md' : ''">
                                <span>
                                    <ion-icon name="person-add"></ion-icon>
                                    Authentications
                                </span>

                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </a>
                        </li>
                        <div x-show="isOpen" class="dropdown-items">
                            <a href="../pages/login.html">
                                <ion-icon name="return-down-forward"></ion-icon>           
                                Login
                            </a>
                            <a href="../pages/register.html">
                                <ion-icon name="return-down-forward"></ion-icon>           
                                Register
                            </a>
                        </div>
                    </ul>
                    <li>
                        <a href="../pages/blank.html">
                            <ion-icon name="square"></ion-icon>
                            Blank
                        </a>
                    </li>

                    <li class="badge">Components</li>

                    <li>
                        <a href="./alert.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Alerts
                        </a>
                    </li>
                    <li>
                        <a href="./badge.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Badges
                        </a>
                    </li>
                    <li>
                        <a href="./breadcrumb.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Breadcrumb
                        </a>
                    </li>
                    <li>
                        <a href="./button.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Buttons
                        </a>
                    </li>
                    <li>
                        <a href="./input.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Inputs
                        </a>
                    </li>
                    <li>
                        <a href="./progress.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Progress
                        </a>
                    </li>
                    <li>
                        <a href="./tables.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Tables
                        </a>
                    </li>
                    <li class="active">
                        <a href="./tabs.html">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            Tabs
                        </a>
                    </li>

                </ul>
            </nav>
        </aside>

        <main>
            <h4 class="font-bold">Tabs components</h4>
            <p class='block border-b border-gray-200 pb-3 mb-3 mt-1'>
                Use these responsive tabs components to create a secondary navigational hierarchy for your website or toggle content inside a container.
            </p>

            <section class="mt-2">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Default tabs</h5>
                            <small class='mt-2 text-gray-500'>Use the following default tabs component example to show a list of links that the user can navigate from on your website.</small>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
<pre class=''> <code class="language-html rounded">&lt;ul class=&quot;nav nav-tabs&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Profile&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Dashboard&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Settings&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Contacts&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot;&gt;Disabled&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <section class="mt-4">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Tabs with underline</h5>
                            <small class='mt-2 text-gray-500'>
                                Use this alternative tabs component style with an underline instead of a background when hovering and being active on a certain page.
                                <br>
                                To use underlined tabs, you just have to add a <code class="code">.underlined</code> claass to your <code class="code">.nav-link</code> item like the example below:
                            </small>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined active">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
<pre class=''> <code class="language-html rounded">&lt;ul class=&quot;nav nav-tabs&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined&quot;&gt;Profile&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined&quot;&gt;Dashboard&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined active&quot;&gt;Settings&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined&quot;&gt;Contacts&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined disabled&quot;&gt;Disabled&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <section class="mt-4">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Tabs with icons</h5>
                            <small class='mt-2 text-gray-500'>
                                this is just an example of the underlined tab which also included <a href="https://ionic.io/ionicons" class="theme-anchor">ionic icons</a>.
                                <br>
                                You can also use your beloved icon font or even SVG.
                            </small>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined">
                                        <ion-icon name="person-outline"></ion-icon>
                                        Profile
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined">
                                        <ion-icon name="planet-outline"></ion-icon>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined active">
                                        <ion-icon name="settings-outline"></ion-icon>
                                        Settings
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined">
                                        <ion-icon name="people-outline"></ion-icon>
                                        Contacts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link underlined disabled">
                                        <ion-icon name="alert-circle-outline"></ion-icon>
                                        Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
<pre class=''> <code class="language-html rounded">&lt;ul class=&quot;nav nav-tabs&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined&quot;&gt;
            &lt;ion-icon name=&quot;person-outline&quot;&gt;&lt;/ion-icon&gt;
            Profile
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined&quot;&gt;
            &lt;ion-icon name=&quot;planet-outline&quot;&gt;&lt;/ion-icon&gt;
            Dashboard
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined active&quot;&gt;
            &lt;ion-icon name=&quot;settings-outline&quot;&gt;&lt;/ion-icon&gt;
            Settings
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined&quot;&gt;
            &lt;ion-icon name=&quot;people-outline&quot;&gt;&lt;/ion-icon&gt;
            Contacts
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link underlined disabled&quot;&gt;
            &lt;ion-icon name=&quot;alert-circle-outline&quot;&gt;&lt;/ion-icon&gt;
            Disabled
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <section class="mt-4">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Pill tabs</h5>
                            <small class='mt-2 text-gray-500'>Take that same HTML as basic navbar, but use <code class="code">.nav-pills</code> instead:</small>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
<pre class=''> <code class="language-html rounded">&lt;ul class=&quot;nav nav-pills&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Profile&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Dashboard&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Settings&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Contacts&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot;&gt;Disabled&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <section class="mt-4">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div class='card'>
                        <div class="card-header card-block mb-3">
                            <h5 class='font-bold'>Pill & full-width tabs</h5>
                            <small class='mt-2 text-gray-500'>Again, take that same HTML from pill tabs and add <code class="code">.nav-fill</code> to it.</small>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
<pre class=''> <code class="language-html rounded">&lt;ul class=&quot;nav nav-pills&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Profile&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Dashboard&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Settings&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Contacts&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot;&gt;Disabled&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code> </pre>
                    </div>
                </div>

            </section>

            <section class="mt-4">
                <div class="grid grid-cols-1 items-center border-b border-gray-200 pb-3">
                    <div>
                        <h4 class="font-bold">Interactive tabs</h4>
                        <p class='block pb-3 mb-3 mt-1'>
                            Take any of the examples you see above and add the following AlpineJS codes to make fully interactive tabs.
                        </p>
                    </div>

                    <div x-data="{tab: 'help'}" class="card">
                        <ul class="nav nav-tabs mb-4">
                            <li @click="tab = 'dashboard'" class="nav-item">
                                <button class="nav-link underlined" :class="tab == 'dashboard' ? 'active' : ''">Dashboard</button>
                            </li>
                            <li @click="tab = 'settings'" class="nav-item">
                                <button class="nav-link underlined" :class="tab == 'settings' ? 'active' : ''">Settings</button>
                            </li>
                            <li @click="tab = 'help'" class="nav-item">
                                <button class="nav-link underlined" :class="tab == 'help' ? 'active' : ''">More help</button>
                            </li>
                        </ul>
                        <div x-show="tab == 'dashboard'" class="card-body"> This could be your dashboard. </div>
                        <div x-show="tab == 'settings'" class="card-body grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="form-group">
                                <label for="email_input">New password</label>
                                <input type="email" class="form-control" id="email_input" placeholder="Please enter your new password">
                            </div>
                            <div class="form-group">
                                <label for="email_input">Repeat new password</label>
                                <input type="email" class="form-control" id="email_input" placeholder="Please re-enter your new password">
                            </div>
                            <div class="md:col-span-2">
                                <button class="btn btn-success ml-auto">Update password</button>
                            </div>
                        </div>
                        <div x-show="tab == 'help'" class="card-body">
                            <h5 class='font-bold'>Interactive tabs</h5>
                            <small class='mt-2 text-gray-500'>
                                This was just a basic example of creating interactive tabs using AlpineJS.
                                <br>
                                Note that you can make this more advanced by using 
                                <a href="https://alpinejs.dev/directives/transition" class="theme-anchor">Alpine transitions</a>.
                            </small>
                        </div>
                    </div>
                    <div>
<pre class=''> <code class="language-html rounded">&lt;div x-data=&quot;{tab: 'help'}&quot; class=&quot;card&quot;&gt;
    &lt;ul class=&quot;nav nav-tabs mb-4&quot;&gt;
        &lt;li @click=&quot;tab = 'dashboard'&quot; class=&quot;nav-item&quot;&gt;
            &lt;button class=&quot;nav-link underlined&quot; :class=&quot;tab == 'dashboard' ? 'active' : ''&quot;&gt;Dashboard&lt;/button&gt;
        &lt;/li&gt;
        &lt;li @click=&quot;tab = 'settings'&quot; class=&quot;nav-item&quot;&gt;
            &lt;button class=&quot;nav-link underlined&quot; :class=&quot;tab == 'settings' ? 'active' : ''&quot;&gt;Settings&lt;/button&gt;
        &lt;/li&gt;
        &lt;li @click=&quot;tab = 'help'&quot; class=&quot;nav-item&quot;&gt;
            &lt;button class=&quot;nav-link underlined&quot; :class=&quot;tab == 'help' ? 'active' : ''&quot;&gt;More help&lt;/button&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    
    &lt;div x-show=&quot;tab == 'dashboard'&quot; class=&quot;card-body&quot;&gt; ... &lt;/div&gt;
    &lt;div x-show=&quot;tab == 'settings'&quot; class=&quot;card-body&quot;&gt; ... &lt;/div&gt;
    &lt;div x-show=&quot;tab == 'help'&quot; class=&quot;card-body&quot;&gt; ... &lt;/div&gt;
&lt;/div&gt;</code> </pre>
                    </div>
                </div>

            </section>
        </main>

        <!-- Icons pack -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <!-- HighlightJS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        <script src='../dist/js/alpine@3.min.js'></script>
        <script src='../dist/js/dashboard.js'></script>

    </body>
</html>
