@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./rtl";
@import "./variables";
@import "./utilities";
@import "./components/alert";
@import "./components/badge";
@import "./components/breadcrumb";
@import "./components/button";
@import "./components/card";
@import "./components/inputs";
@import "./components/progress";
@import "./components/tabs";
@import "./components/typography";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap'); */

body {
    background: var(--backgroundColor);
    font-family: 'Nunito', sans-serif;
}

.container {
    @apply px-40;
}

aside.sidebar {
    height: 100vh;
    width: 290px;
    @apply fixed top-0 left-0 py-6 bg-white shadow-sm z-50;

    header {
        @apply flex items-center px-7 mt-1 mr-24;
        h1 { 
            @apply font-bold text-2xl ;

            span {
                @apply font-black text-theme-primary;
            }
        }
    }

    nav {
        @apply mt-8 max-h-[85vh] overflow-x-hidden overflow-y-auto;

        ul {
            @apply space-y-1 pr-6;

            li.badge {
                font-size: 12px;
                @apply text-gray-400 ml-8 mb-1;
            }

            li.badge:not(:first-child) {
                @apply border-t border-gray-100 mt-2 pt-4
            }
            li{
                @apply relative;
            }
            li a {
                @apply flex ml-6 py-3 px-3 transition duration-200  items-center;
                ion-icon {
                    @apply mr-2;
                }
                .numbers-badge {
                    font-size: 14px;
                    padding: 2px 8px 2px 8px;
                    @apply bg-theme-primary ml-2 rounded-full text-white;
                }
            }
            li a:not([class*="rounded-"]) {
                @apply rounded-md;
            }

            li.active a:before {
                content: " ";
                @apply bg-theme-primary h-7 px-1 absolute -left-1 rounded-md;
            }
            li.active a, li a:hover {
                @apply bg-theme-secondary text-theme-primary;
            }
        }

        ul.dropdown-container {
            @apply space-y-0 pr-0;

            li a {
                @apply justify-between items-center;
            }

            li a > ion-icon {
                @apply text-xs transition duration-200
            }
            li.active a > ion-icon {
                @apply rotate-180;
            }

            .dropdown-items {
                @apply pb-2 ml-6 space-y-1 bg-theme-secondary rounded-b;

                a {
                    @apply block px-2 hover:text-theme-primary font-medium transition ease-in-out duration-200;
                    
                    ion-icon {
                        @apply text-xs ml-2 mr-1;
                    }
                }
            }
        }
    }
}

.mobile-navbar {
    @apply bg-white shadow-sm py-2 pl-6 pr-10 flex justify-between items-center;

    header {
        @apply flex items-center;
        h1 { 
            @apply font-bold text-2xl ;

            span {
                @apply font-black text-theme-primary;
            }
        }
    }
    .dropdown-content {
        @apply absolute w-80 z-20 bg-white border-2 border-gray-100 rounded-md shadow-lg top-6 mt-1;
    }
}

main {
    @apply ml-10 lg:ml-80 pr-10 mt-7 pb-8 ;
}