@font-face {
    font-family: Samim;
    src: url('fonts/samim/Samim-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Samim;
    src: url('fonts/samim/Samim-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Samim;
    src: url('fonts/samim/Samim-Medium-FD.ttf') format('truetype');
    font-weight: 500;
}

body[dir=rtl] {
    direction: rtl;
    font-family: 'Samim', 'Nunito', sans-serif;

    @apply text-right;

    aside.sidebar {
        left: unset;
        @apply right-0;

        header {
            @apply ml-24 mr-0;
        }
    
        nav {    
            ul {
                @apply pl-6 pr-0;
    
                li.badge {
                    @apply mr-8 ml-0;
                }
    
                li a {
                    @apply mr-6 ml-0;
                    ion-icon {
                        @apply ml-2 mr-0;
                    }
                    .numbers-badge {
                        @apply ml-2 mr-2;
                    }
                }
                li.active a:before {
                    left: unset;
                    @apply -right-1;
                }
            }

            ul.dropdown-container {
                @apply pl-0;

                li.active a > ion-icon {
                    @apply -rotate-180;
                }
    
                .dropdown-items {
                    margin-left: unset;
                    @apply mr-6;
    
                    a ion-icon {
                        @apply text-xs mr-2 ml-1;
                    }
                }
            }
        }
    }

    .mobile-navbar {
        @apply pr-6 pl-10;

        .dropdown-content {
            @apply right-auto -left-14 sm:-left-8 md:left-1;
        }
    }

    main {
        margin-left: unset;
        padding-right: unset;
        @apply mr-10 lg:mr-80 pl-10;
    }
}